<div class="jumbotron">
  <h1>Meal Editor</h1>
</div>
<div class="row">
  <div class="col-md-6 ">
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="selectDate()" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
  </div>
  <div class="col-md-1"> <div class="spinner" loader></div></div>
  <div class="col-md-5 meal-control">
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="newMealBtnStatus.isOpen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="isDisabled" ng-click="toggleDropdown($event)">
        New Meal <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" >
        <li ng-repeat="category in mealCategories"><a href="#" ng-click="newMeal($event, category)">{{category.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row day-control" ng-include="'views/daySummary.html'" ng-controller="daySummaryController"></div>

<div class="row">
  <accordion id="meals">
    <accordion-group ng-repeat="meal in Meals" is-open="meal.isOpen">
      <accordion-heading class="meal-header">
        <div>{{meal.meal_category.name}}
          <div class="btn-group pull-right meal-header-controls" role="group" >
            <i class="glyphicon glyphicon-plus btn btn-default" ng-click="newItem($event, meal)"></i>
            <i class="glyphicon glyphicon-share btn btn-default" ng-click="copyMeal($event, meal)"></i>
            <i class="glyphicon glyphicon-remove btn btn-default" ng-click="removeMeal($event, $index)"></i>
          </div>
        </div>
      </accordion-heading>
      <accordion close-others="false" id="meal-{{meal.id}}">
        <accordion-group ng-repeat="mealItem in meal.meal_items" is-open="mealItem.isOpen"  >
          <accordion-heading>
            <div>( {{mealItem.amount}} x {{mealItem.measurement.unit}} )  {{mealItem.ingredient.name}}
              <div class="btn-group pull-right meal-header-controls" role="group" >
                <i class="glyphicon glyphicon-remove btn btn-default" ng-click="removeMealItem($event, meal, $index)"></i>
              </div>
            </div>
          </accordion-heading>
          <div class="meal-control" ng-model="mealItem" ng-include="'views/mealItemEdit.html'" ng-controller="mealItemEditController"></div>
        </accordion-group>
      </accordion>
    </accordion-group>
  </accordion>
</div>

